<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>stone</key>
		<string>Ruby</string>
		<key>color</key>
		<string>Red</string>
		<key>description</key>
		<string>Red translates as Reuben, meaning son. Christ the son. As you acquaint yourself with the blood of Christ and accept the Savior, you become a child of God. The red ruby represents the blood that was shed for you. It is the very nature and appearance of God. Rev. 21:18.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Topaz</string>
		<key>color</key>
		<string>Yellow/Gold</string>
		<key>description</key>
		<string>Strive to be pure as gold in Christ’s eyes as you face your struggles with his grace.  Topaz is the 9th foundation of the wall in heaven mentioned in Rev. 21:18.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Emerald</string>
		<key>color</key>
		<string>Green</string>
		<key>description</key>
		<string>Brilliant in all your ways like an Emerald. Recognize the eternal lordship of God. Rev. 4:3. </string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Turquoise</string>
		<key>color</key>
		<string>Blue/Green</string>
		<key>description</key>
		<string>You are filled with the worship and praise of God. Like a turquoise you are interesting in all your ways.  Exodus 28:17.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Sapphire</string>
		<key>color</key>
		<string>Dark Deep Blue</string>
		<key>description</key>
		<string>God’s everlasting covenant is with you. As the deepest blue of the sapphire shines you too are deep and not superficial. Isaiah 54:11.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Amber</string>
		<key>color</key>
		<string>Reddish/Orange</string>
		<key>description</key>
		<string>You have a companion in Christ and you are a great companion for others. As the amber is layered with colors, so are you layered with personality.  Amber or Jacinth is the 11th foundation of the wall in heaven mentioned in Rev. 21:18.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Agate</string>
		<key>color</key>
		<string>Bands of Color</string>
		<key>description</key>
		<string>Happiness is available to you in Christ today. Agate is the 3rd row of the breastplate of judgment mentioned in Exodus 38:17.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Amethyst</string>
		<key>color</key>
		<string>Purple</string>
		<key>description</key>
		<string>Royalty and regal in splendor for those who serve God. Purple is passion like the passion Christ has for you. You are royalty; worthy of dying for. Amethyst is the 10th foundation of the wall in heaven mentioned in Rev.21:18.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Beryl</string>
		<key>color</key>
		<string>Yellow</string>
		<key>description</key>
		<string>Dwelling in his loving arms. Yellow is the warmth of the sun and the warmth of the SON. Beryl is the 4th row of the breastplate of judgment mentioned in Exodus 28:17.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Onyx</string>
		<key>color</key>
		<string>Banded with Dark Colors of Brown/Black</string>
		<key>description</key>
		<string>Dwelling in his loving arms. Yellow is the warmth of the sun and the warmth of the SON. Beryl is the 4th row of the breastplate of judgment mentioned in Exodus 28:17.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Jasper</string>
		<key>color</key>
		<string>Yellow with Red Bands</string>
		<key>description</key>
		<string>All you are purposed for is known before the throne. Your destiny awaits.  Be encouraged. Rev. 4:3</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Chalcedony</string>
		<key>color</key>
		<string>Milky Translucent</string>
		<key>description</key>
		<string>Show kindness to those less fortunate today, you will find giving a blessing will bless you. Chalcedony is the 3rd foundation of the wall in heaven mentioned in Rev. 21:18.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Sardonyx</string>
		<key>color</key>
		<string>White w/Ogrange &amp; Red Layers</string>
		<key>description</key>
		<string>Be joyful always, pray continually and give thanks in all circumstances (1 Thess. 5:16-18). Sardonyx is the 5th foundation of the wall in heaven mentioned in Rev. 21:18.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Chrysoprase</string>
		<key>color</key>
		<string>Light Green</string>
		<key>description</key>
		<string>Your talent is God given, embrace it. Chyrosprase, like the green pastures, offers rest to those needing replenishment. Chrysoprase is the 10th foundation of the wall in heaven mentioned in Rev. 21:18.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Aquamarine</string>
		<key>color</key>
		<string>Light Blue</string>
		<key>description</key>
		<string>Blue represents the tranquility of being drawn to the living water that quenches the thirst of all souls. Drink from the cup of Jesus today.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Garnet</string>
		<key>color</key>
		<string>Red</string>
		<key>description</key>
		<string>May his blood cover you for safety and wellness as you walk your purposed path today.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Peridot</string>
		<key>color</key>
		<string>Light Green</string>
		<key>description</key>
		<string>In your weakness HE is strong.  Gain stamina in the faithful arms of the Almighty today, like peace as the wind blows through the green leaves on a Spring day.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Opal</string>
		<key>color</key>
		<string>Milky White</string>
		<key>description</key>
		<string>May your faithfulness to seek HIS word, give you peace.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Yellow Sapphire</string>
		<key>color</key>
		<string>Yellow</string>
		<key>description</key>
		<string>A symbol of prosperity as only the Lord can give. You have an awesome status as a Christian.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Pearl</string>
		<key>color</key>
		<string>Milky White</string>
		<key>description</key>
		<string>An unique gift from God symbolizing the purity Christ offers you today as you confess your sins and become new in HIM.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>White Sapphire</string>
		<key>color</key>
		<string>Translucent, Crystal</string>
		<key>description</key>
		<string>Radiantly beautiful before the Lord as you stand apart from the world and its desires.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Red Coral</string>
		<key>color</key>
		<string>Red/Orange Stone</string>
		<key>description</key>
		<string>Be of great courage as a child of God, knowing you are equipped to fight the good fight for Christ’s sake.</string>
	</dict>
	<dict>
		<key>stone</key>
		<string>Diamond</string>
		<key>color</key>
		<string>Crystal Clear</string>
		<key>description</key>
		<string>Your devotion to the Lord’s word pleases HIM immensely.  The great love the Lord has for you, like this diamond, is brilliant, indelible and unbreakable.   You shine like a precious stone for others to see!  Your crown represents the glory you offer your creator, as the precious ONE worthy of all honor, glory and praise.</string>
	</dict>
</array>
</plist>
