<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>@&quot;Anything You Ask&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;Author of My Life&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;Be Glorified&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;Beautiful Everything&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;Because You Loved Me&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;Complete&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;Higher Place&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;How It Goes&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;In Your Hands&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;Renewal&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;Sincerly, Jesus Christ&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;The Greatest Gift&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>@&quot;Well Done&quot;</string>
		<key>ext</key>
		<string>mp3</string>
	</dict>
</array>
</plist>
